@import "base/variables";

//components
@import "components/appContainer";
@import "components/page-title";
@import "components/add-todo";
@import "components/todo";

$top-nav-background-color: #fff;
$top-nav-font-family: Tahoma,Arial,sans-serif;

$heading-color: #0078d7;
$grey-color-text: #8e8e93;

body {
	padding-top: 60px;
		
}

.top-link {
	font-family: $top-nav-font-family;	
	background-color: $top-nav-background-color;
	font-size: 16px;
}

.navbar.navbar-fixed-top {
	background-color: $top-nav-background-color;
}

.blue-color-heading {
	color: $heading-color;
	font-size: 40px;
}

.body-section {
	margin: 10px 0px 50px;
}

.p-text {
	font-size: 20px;	
}

.navbar-brand {
	font-weight: bold;
}

.add-todo {
	margin-right: 5px;
	width: 350px;
	margin-left: 50px;
}