.appContainer {
	background: $light-grey;
	border-radius: 5px;
	padding: 0;
	margin-bottom: 2rem;
}

.container__header {
	border-bottom: 1px solid $light-grey-border;
	padding: 1rem;

	label: {
		cursor: pointer;
		font-size: 1rem;
	}

	> :last-child {
		display: flex;
		align-items: center;
	}
}
.container__message {
	color: $light-color;
	margin: 2rem auto;
	text-align: center;
}
.container__footer {
	border: 1px solid $light-grey-border;
	padding: 1rem 1rem 0 1rem;
}